  @font-face {
    font-family: SofiaProBold;
    src: url(fonts/SofiaProBold.otf);
}

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'SofiaProBold', Arial, sans-serif;
	width: 100%;
  height: 10000px;
  /*default styling*/
  background-color: red;
  color: purple;
}


.section{
  background-color: transparent;
}
/*#topbar, #bottombar, .bodytext{
	background-color: pink;
}*/


#topbar{
	width: 100%;
	height: 60px;
	top: 0;
  margin-top: 30px;
	position: fixed;
	z-index: 2;
}

#bottombar{
	width: 100%;
	height: 60px;
	bottom: 0;
  margin-bottom: 10px;
	position: fixed;
	z-index: 2;
}


.hamburger, .profilelink, .number, .downarrow {
 z-index: 2;
}

.hamburger, .number{
	float: left;
	margin-left: 50px;
}

.profilelink, .downarrow{
	float: right;
	margin-right: 70px;
}

.hamburger, .profilelink{

}

.number, .downarrow{

}

/* Hamburger */
#hamburgericon {
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#hamburgericon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#hamburgericon span:nth-child(1) {
  top: 0px;
}

#hamburgericon span:nth-child(2),#hamburgericon span:nth-child(3) {
  top: 10px;
}

#hamburgericon span:nth-child(4) {
  top: 20px;
}

#hamburgericon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#hamburgericon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburgericon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburgericon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


/*end Hamburger */


/*Profile Link*/

.profilelink span{
	font-size: 18px;
}

/*end Profile Link*/


/*Number*/

.number span{
	font-size: 2em;
}

.openingnumber, .firstnumber, .secondnumber, .thirdnumber, .fourthnumber, .fifthnumber{
  display: none;
}

.shownumber{
  display: block;
}

/*end Number*/

/*down Arrow*/

.downarrow{
  font-size: 2.5em;
      -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.rotatearrow{
    -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
    -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/*end down Arrow*/


.bodytext{
	font-family: 'SofiaProBold', Arial, sans-serif;
	width: 50%;
	font-size: 6.5vw; /*6em*/
	margin-left: 40%;
	margin-right: auto;
	line-height: 1;
	text-align: center;
	z-index: 1;
}
.alignleft{
	text-align: left;
}

/*stying sections*/

.opening, .one, .two, .three, .four, .five{
    -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.opening{
  background-color: red;
  color: purple;
}

.one{
  background-color: orange;
  color: blue;
}

.two{
  background-color: yellow;
  color: green;
}

.three{
  background-color: green;
  color: yellow;
}

.four{
  background-color: blue;
  color: orange;
}

.five{
  background-color: purple;
  color: red;
}

.UIcoloropening, .UIcolor1, .UIcolor2, .UIcolor3, .UIcolor4, .UIcolor5{
    -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.UIcoloropening{
  background-color: purple;
}

.UIcolor1{
  background-color: blue;
}

.UIcolor2{
  background-color: green;
}

.UIcolor3{
  background-color: yellow;
}

.UIcolor4{
  background-color: orange;
}

.UIcolor5{
  background-color: red;
}

/*end styling sections*/
