  @font-face {
    font-family: SofiaProBold;
    src: url(fonts/SofiaProBold.otf);
}

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'SofiaProBold', Arial, sans-serif;
	width: 100%;
  height: 10000px;
  /*default styling*/
  background-color: red;
  color: purple;
}


/*styling scrollbar and selection*/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #000000;
}
::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ff00bb;
}


::-moz-selection { 
  background: rgba(255,255,255,0.99);
  color: #000000;
   }
::selection { 
  background: rgba(255,255,255,0.99);
  color: #000000;
   }



/*tools*/

.show{
  display: block;
}

.hide{
  display: none;
}

.noopacity{
  opacity: 0;
}

.fullopacity{
  opacity: 1;
}

.section{
  background-color: transparent;
}
/*#topbar, #bottombar, .bodytext{
	background-color: pink;
}*/


#topbar{
	width: 100%;
	height: 60px;
	top: 0;
  margin-top: 30px;
	position: fixed;
	z-index: 2;
}

#bottombar{
	width: 100%;
	height: 60px;
	bottom: 0;
  margin-bottom: 10px;
	position: fixed;
	z-index: 2;
}


.hamburger, .profilelink, .number, .downarrow {
 z-index: 2;
}

.hamburger, .number{
	float: left;
	margin-left: 50px;
}

.profilelink, .downarrow{
	float: right;
	margin-right: 50px;
}

.hamburger, .profilelink{
 cursor: crosshair;
}

.number, .downarrow{
 cursor: not-allowed;
}

/* Hamburger */
#hamburgericon {
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: crosshair;
}

#hamburgericon:hover{
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  transform: rotate(-25deg);
}

#hamburgericon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#hamburgericon span:nth-child(1) {
  top: 0px;
}

#hamburgericon span:nth-child(2),#hamburgericon span:nth-child(3) {
  top: 10px;
}

#hamburgericon span:nth-child(4) {
  top: 20px;
}

#hamburgericon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#hamburgericon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburgericon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburgericon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


/*end Hamburger */


/*Profile Link*/

.profilelink{
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.profilelink:hover{
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
}
.profilelink span{
	font-size: 2em;
  /*background-color: transparent;
  background: linear-gradient(to right, black 50%, transparent 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  padding: 5px;*/
  transition: all 0.2s ease;
}


.profilelink span:hover{
  /*background-position: left bottom;*/
}

/*X which appears on click*/

#xicon{
  display: none;
  cursor: crosshair;
  z-index: 5;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  margin-right: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

#xicon:hover{
    -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;

}


#xicon span{
  margin-top: 10px;
  height: 5px;
  width: 30px;
  opacity: 1;
  right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


#xicon span:nth-child(1) {
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#xicon span:nth-child(2) {
  position: absolute;
    -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*end Profile Link*/


/*Number*/

.number span{
	font-size: 2em;
}

.openingnumber, .firstnumber, .secondnumber, .thirdnumber, .fourthnumber, .fifthnumber{
  display: none;
}

.shownumber{
  display: block;
}

/*end Number*/

/*down Arrow*/

.downarrow{
  padding-right: 10px; 
  font-size: 2.5em;
      -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.rotatearrow{
    -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
    -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/*end down Arrow*/


.bodytext{
	font-family: 'SofiaProBold', Arial, sans-serif;
	width: 50%;
	font-size: 6.5vw; /*6em*/
	margin-left: 40%;
	margin-right: auto;
	line-height: 1;
	text-align: center;
	z-index: 1;
}
.alignleft{
	text-align: left;
}


/*navigation*/

#navigation{
position: fixed;
background-color: white;
width: 100vw;
height: 100vh;
display: none;
z-index: 2;
}

.hideotherUI{
  display: none;
}

.shownav{
  display: block;
}

/*end navigation*/

/*navigation*/

#profile{
position: fixed;
background-color: black;
width: 100vw;
height: 100vh;
display: none;
z-index: 2;
}

/*end navigation*/



/*stying sections*/

.opening, .one, .two, .three, .four, .five{
    -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.opening{
  background-color: red;
  color: purple;
}

.one{
  background-color: orange;
  color: blue;
}

.two{
  background-color: yellow;
  color: green;
}

.three{
  background-color: green;
  color: yellow;
}

.four{
  background-color: blue;
  color: orange;
}

.five{
  background-color: purple;
  color: red;
}

.UIcoloropening, .UIcolor1, .UIcolor2, .UIcolor3, .UIcolor4, .UIcolor5{
    -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.UIcoloropening{
  background-color: purple;
}

.UIcolor1{
  background-color: blue;
}

.UIcolor2{
  background-color: green;
}

.UIcolor3{
  background-color: yellow;
}

.UIcolor4{
  background-color: orange;
}

.UIcolor5{
  background-color: red;
}

/*end styling sections*/
