  @font-face {
    font-family: SofiaProBold;
    src: url(fonts/SofiaProBold.otf);
}

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'SofiaProBold', Arial, sans-serif;
	width: 100%;
  height: 600vh;
  height: 10000px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}


/*styling scrollbar and selection*/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #000000;
}
::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #ff00bb;
}


::-moz-selection { 
  background: rgba(255,255,255,0.99);
  color: #000000;
   }
::selection { 
  background: rgba(255,255,255,0.99);
  color: #000000;
   }

.default{
  /*default styling*/
  background-color: #f1ddc1;
  color: #000000;
}

/*tools*/

.show{
  display: block;
}

.hide{
  display: none;
}

.noopacity{
  opacity: 0;
}

.fullopacity{
  opacity: 1;
}

.section{
  background-color: transparent;
}
/*#topbar, #bottombar, .bodytext{
	background-color: pink;
}*/


#topbar{
	width: 100%;
	height: 60px;
	top: 0;
  margin-top: 30px;
	position: fixed;
	z-index: 3;
  pointer-events: none;
}

#bottombar{
	width: 100%;
	height: 60px;
	bottom: 0;
  margin-bottom: 10px;
	position: fixed;
	z-index: 3;
  pointer-events: none;
}


.hamburger, .profilelink, .number, .downarrow {
 z-index: 3;
 pointer-events: all;
}

.hamburger, .number{
	float: left;
	margin-left: 50px;
}

.profilelink, .downarrow{
	float: right;
	margin-right: 50px;
}

.hamburger, .profilelink{
 cursor: crosshair;
}

.number{
 cursor: not-allowed;
}

.downarrow{
  cursor: s-resize;
}

/* Hamburger */
#hamburgericon {
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: crosshair;
}

#xicon {
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: crosshair;
}

#xicon span{
    background-color: #ffffff;
}
/*#hamburgericon:hover{
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  transform: rotate(-25deg);
}*/

#hamburgericon span, #xicon span {
  position: absolute;
  height: 5px;
  width: 100%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#hamburgericon span:nth-child(1) {
  top: 0px;
}

#hamburgericon span:nth-child(2), #hamburgericon span:nth-child(3) {
  top: 10px;
}

#hamburgericon span:nth-child(4) {
  top: 20px;
}

#hamburgericon.open{
  margin-top: -10px;
}

#hamburgericon.open span{
  background-color: #ff00bb;
}

#hamburgericon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#hamburgericon.open span:nth-child(2), #xicon span:nth-child(1) {
  margin-top: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburgericon.open span:nth-child(3), #xicon span:nth-child(2) {
  margin-top: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburgericon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


/*end Hamburger */


/*Profile Link*/

.profileUI, #xicon{
  position: absolute;
}


.profilelink{
  margin-right: 85px;
/*  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;*/
}
/*.profilelink:hover{
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
}*/
.profilelink span{
	font-size: 2em;
  /*background-color: transparent;
  background: linear-gradient(to right, black 50%, transparent 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  padding: 5px;*/
}


.profilelink span:hover{
  /*background-position: left bottom;*/
}

/*X which appears on click*/


/*end Profile Link*/


/*Number*/

.number span{
	font-size: 2em;
}

.openingnumber, .firstnumber, .secondnumber, .thirdnumber, .fourthnumber, .fifthnumber{
  display: none;
}

.shownumber{
  display: block;
}

/*end Number*/

/*down Arrow*/

.downarrow{
  padding-right: 10px; 
  font-size: 2.5em;
      -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.rotatearrow{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: n-resize;
}

/*end down Arrow*/


.bodytext{
	font-family: 'SofiaProBold', Arial, sans-serif;
	font-size: 8vh; 
	line-height: 1;
	text-align: center;
  position: relative;
  z-index: 2;

  /*textbox*/

  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  border: 6px solid #000000;
}
/*.openingtext{
font-size: 8vh;
width: 30%;
margin-left: auto;
margin-right: auto;
}
*/

.bodytext:hover{
  background-color: #000000;
  color: #ffffff;
}

a{
  text-decoration: none;
}
/*navigation*/

#navigation{
background-color: #ffffff;
}

#profile{
background-color: #000000;
}

#navigation, #profile{
position: fixed;
width: 100vw;
z-index: 2;
top: 0;
left: 0;
right: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  
}

.hidedropdown{
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.showdropdown{
  visibility: visible;
  opacity: 1;
  height: 100vh;
}

.hideotherUI{
  opacity: 0;
  display: none;
}

.hidefornav{
  background-color: #ffffff;
  color: #ffffff;
  overflow-y: hidden !important;
}

.hideforprofile{
  background-color: #000000;
  color: #000000;
  /*overflow-y: hidden !important;*/
}

#navigation li{
  border-bottom: 6px solid #000000;
  line-height: 1.8;
  height: 13.5vh;
  font-size: 8vh;
  list-style-type: none;
  text-align: center;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#navigation li:hover{
  background-color: #000000;
  color: #ffffff;
}

#navigation a{
  color: #000000;
}


/*speeds*/
.hamburger, .number, .profileUI, .downarrow, #xicon{

  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */

}

/*end navigation*/




/*stying sections*/

.opening, .one, .two, .three, .four, .five{
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.opening{
  background-color: #f1ddc1;
  color: #000000;
}

.one{
  background-color: #4BBD4F;
  color: #0000FF;
}

.two{
  background-color: #b62384;
  color: #73E62C;
}


.three{
  background-color: #0085f7;
  color: #FFEE00;
}


.four{
  background-color: #FCD34C;
  color: #FF6F21;
}


.five{
  background-color: #212121;
  color: #e11ede;
}

.UIcoloropening, .UIcolor1, .UIcolor2, .UIcolor3, .UIcolor4, .UIcolor5, .openingcolor, .firstcolor, .secondcolor, .thirdcolor, .fourthcolor, .fifthcolor{
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/*default*/
.UIcoloropening{
  background-color: #000000;
}

.UIcolor1{
  background-color: #0000ff;
}

.UIcolor2{
  background-color: #7CF531;
}

.UIcolor3{
  background-color: #FFEE00;
}

.UIcolor4{
  background-color: #FF6F21;
}

.UIcolor5{
  background-color: #e11ede;
}

/*default*/
.UItext{
  color: #000000;
}

.firstcolor{
  color: #0000ff;
}

.secondcolor{
  color: #7CF531;
}

.thirdcolor{
  color: #FFEE00;
}

.fourthcolor{
  color: #FF6F21;
}

.fifthcolor{
  color: #e11ede;
}
/*end styling sections*/


/*styling images (hoo boy)*/

/*default splash animations*/

.defaultsplash1, .defaultsplash2, .defaultsplash3{
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
 -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;   
}

.defaultsplash1{
  position: absolute;
  opacity: 1;
  width: 35vw;
  margin-top: -36%;
  margin-left: 3%;
  -webkit-animation-name: defaultsplashone; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  animation-name: defaultsplashone;
  animation-duration: 1s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes defaultsplashone {
    from {
      opacity: 0;
      width: 20vw;
      margin-top: -15%;
      margin-left: 40%;
    }
    to {
      opacity: 1;
      width: 35vw;
      margin-top: -36%;
      margin-left: 3%;
    }
}

/* Standard syntax */
@keyframes defaultsplashone {
    from {
      opacity: 0;
      width: 20vw;
      margin-top: -15%;
      margin-left: 40%;
    }
    to {
      opacity: 1;
      width: 35vw;
      margin-top: -36%;
      margin-left: 3%;
    }
}

.defaultsplash2{
  position: absolute;
  opacity: 1;
  width: 35vw;
  margin-top: -32%;
  margin-left: 60%;
  -webkit-animation-name: defaultsplashtwo; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  animation-name: defaultsplashtwo;
  animation-duration: 1s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes defaultsplashtwo {
    from {
      opacity: 0;
      width: 20vw;
      margin-top: -15%;
      margin-left: 40%;
    }
    to {
      opacity: 1;
      width: 35vw;
      margin-top: -32%;
      margin-left: 60%;
    }
}

/* Standard syntax */
@keyframes defaultsplashtwo {
    from {
      opacity: 0;
      width: 20vw;
      margin-top: -15%;
      margin-left: 40%;
    }
    to {
      opacity: 1;
      width: 35vw;
      margin-top: -32%;
      margin-left: 60%;
    }
}


.defaultsplash3{
  position: absolute;
  opacity: 1;
  width: 16vw;
  margin-top: -6%;
  margin-left: 22%;
  -webkit-animation-name: defaultsplashthree; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  animation-name: defaultsplashthree;
  animation-duration: 1s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes defaultsplashthree {
    from {
      opacity: 0;
      width: 20vw;
      margin-top: -15%;
      margin-left: 40%;
    }
    to {
      opacity: 1;
      width: 16vw;
      margin-top: -6%;
      margin-left: 22%;
    }
}

/* Standard syntax */
@keyframes defaultsplashthree {
    from {
      opacity: 0;
      width: 20vw;
      margin-top: -15%;
      margin-left: 40%;
    }
    to {
      opacity: 1;
      width: 16vw;
      margin-top: -6%;
      margin-left: 22%;    
    }
}


.splash1, .splash2, .splash3, 
.google1, .google2, .google3, 
.tcp1, .tcp2, .tcp3, 
.bfadt1, .bfadt2, .bfadt3, 
.portal1, .portal2, .portal3, 
.oldportfolio1, .oldportfolio2, .oldportfolio3{
  opacity: 0;
  width: 20vw;
  margin-top: -15%;
  margin-left: 40%;
  position: absolute;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
 -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently not supported by any browser */
/*  width: 100px;
  margin-left: 50%;
  margin-right: auto;
  text-align: center;*/
}




.splash1move{
  opacity: 1;
  width: 35vw;
  margin-top: -36%;
  margin-left: 3%;
}

.splash2move{
  opacity: 1;
  width: 35vw;
  margin-top: -32%;
  margin-left: 60%;
}

.splash3move{
  opacity: 1;
  width: 16vw;
  margin-top: -6%;
  margin-left: 22%;
}


.google1move{
  opacity: 1;
  width: 33vw;
  margin-top: -30%;
  margin-left: 6%;
}

.google2move{
  opacity: 1;
  width: 36vw;
  margin-top: -32%;
  margin-left: 50%;
}

.google3move{
  opacity: 1;
  width: 28vw;
  margin-top: -4%;
  margin-left: 70%;
}

.tcp1move{
  opacity: 1;
  width: 57vw;
  margin-top: -32%;
  margin-left: 5%;
}

.tcp2move{
  opacity: 1;
  width: 27vw;
  margin-top: -10%;
  margin-left: 71%;
}

.tcp3move{
  opacity: 1;
  width: 18vw;
  margin-top: -30%;
  margin-left: 65%;
}

.bfadt1move{
  opacity: 1;
  width: 26vw;
  margin-top: -5%;
  margin-left: 23%;
}

.bfadt2move{
  opacity: 1;
  width: 30vw;
  margin-top: -31%;
  margin-left: 62%;
}

.bfadt3move{
  opacity: 1;
  width: 32vw;
  margin-top: -30%;
  margin-left: 3%;}

.portal1move{
  opacity: 1;
  width: 36vw;
  margin-top: -27%;
  margin-left: 5%;
}

.portal2move{
  opacity: 1;
  width: 62vw;
  margin-top: -32%;
  margin-left: 35%;
}

.portal3move{
  opacity: 1;
  width: 38vw;
  margin-top: -5%;
  margin-left: 20%;
}

.oldportfolio1move{
  opacity: 1;
  width: 40vw;
  margin-top: -32%;
  margin-left: 5%;
}

.oldportfolio2move{
  opacity: 1;
  width: 39vw;
  margin-top: -10%;
  margin-left: 58%;
}

.oldportfolio3move{
  opacity: 0.9;
  width: 42vw;
  margin-top: -25%;
  margin-left: 32%;
}
  


/*end styling images*/

/*responsiveness*/

/*@media (max-width: 600px) and (min-width: 520px) { !!!!this is the syntax
  body {
    width: 640px;
  }
}*/



@media (max-width: 768px) {

.default, .opening, .one, .two, .three, .four, .five{
background-repeat: no-repeat;
background-attachment: scroll;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}


.default, .opening{
 background-image: url("../images/splash1.png");
 background-position: 0% 1%;
}

.one{
 background-image: url("../images/google2.png");
 background-position: 0% 20%;
}

.two{
 background-image: url("../images/tcp2.png");
 background-position: 0% 40%;
}

.three{
 background-image: url("../images/bfadt1.png");
 background-position: 0% 60%;
}

.four{
 background-image: url("../images/portal3.png");
 background-position: 0% 77%;
}

.five{
 background-image: url("../images/oldportfolio1.png");
 background-position: 0% 98%;
}

.bodytext {
    background-image: none;
    background-color: #ffffff;
    color: #000000;
    width: 70vw;
    font-size: 6vh;
}

#navigation li{
  background-image: none;
}

.defaultsplash1,
.splash1move,  
.google1move,  
.tcp1move, 
.bfadt1move, 
.portal1move,  
.oldportfolio1move,
.defaultsplash2, .defaultsplash3,
.splash2move, .splash3move, 
.google2move, .google3move,
.tcp2move, .tcp3move, 
.bfadt2move, .bfadt3move, 
.portal2move, .portal3move,
.oldportfolio2move, .oldportfolio3move{
 display: none;
}

  #navigation li{
    font-size: 8vh;
  }
}

@media only screen (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait)  { 

  .bodytext {
    width: 70vw;
    font-size: 6vh;
  }

.defaultsplash1,
.splash1move,  
.google1move,  
.tcp1move, 
.bfadt1move, 
.portal1move,  
.oldportfolio1move {
margin-top: -40vh;
width: 500px;
-webkit-animation-name: defaultsplashone; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 0s; /* Chrome, Safari, Opera */
  animation-name: defaultsplashone;
  animation-duration: 0s;
}

.defaultsplash2, .defaultsplash3,
.splash2move, .splash3move, 
.google2move, .google3move,
.tcp2move, .tcp3move, 
.bfadt2move, .bfadt3move, 
.portal2move, .portal3move,
.oldportfolio2move, .oldportfolio3move{
 display: none;
}

  #navigation li{
    font-size: 8vh;
  }
}

@media only screen (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)  { 

  .bodytext {
    width: 70vw;
    font-size: 6vh;
  }

}